/* Reset some defaults */
body, h1, h2, p {
    margin: 0;
    background-color: #1C1B20;
    padding: 0;
    color: #E6E1E5;
    font-family: Consolas, monospace;
}

body {
    color: #E6E1E5;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

#name {
    font-size: 2rem;
}

#about {
    padding: 15px;
}

#about h2 {
    margin-bottom: 10px;
}

#about p {
    line-height: 1.5;
}
